body {
    background-color: tan;
}

.label-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

label {
    text-align: center;
}

.submit {
    display: flex;
    justify-content: center;
}

