body {
    background-color: tan;
}

.label-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
    margin-bottom: 5%;
}

label {
    text-align: center;
}

.submit {
    display: flex;
    justify-content: center;
}

.enrolled-students {
    display: flex;
    flex-direction: column;
}   

/* Javascript CSS */
.new-BG-Color {
    background-color: pink;
}

@media screen and (min-width: 600px) {
    .label-section {
        display: flex;
        justify-content: space-around;
    }

    .enrolled-students {
        flex-direction: row;
        justify-content: space-around;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;  
    }

}

